@model ScheduleViewModel

<div class="container mt-4">
    <h2 class="mb-4">Add schedule:</h2>

    <form method="post" asp-action="Schedule" asp-controller="Employee" class="bg-white p-4 rounded shadow-sm">
        <div class="mb-3">
            <label for="employeeId" class="form-label">Employee:</label>
            <select id="employeeId" name="EmployeeId" class="form-select" required>
                @foreach (var employee in Model.Employees)
                {
                    <option value="@employee.Value">@employee.Text</option>
                }
            </select>
        </div>

        <div class="mb-3">
            <label for="date" class="form-label">Date:</label>
            <input type="date" id="date" name="Date" class="form-control" required/>
        </div>

        <div class="mb-3">
            <label for="startTime" class="form-label">Start time:</label>
            <input type="time" id="startTime" name="StartTime" class="form-control" required/>
        </div>

        <div class="mb-3">
            <label for="endTime" class="form-label">End time:</label>
            <input type="time" id="endTime" name="EndTime" class="form-control" required/>
        </div>

        <div class="mb-3">
            <label for="location" class="form-label">Status:</label>
            <select id="location" name="Location" class="form-select" required>
                <option value="Office">Office</option>
                <option value="Remote">Remote</option>
                <option value="Vacation">Vacation</option>
            </select>
        </div>

        <button type="submit" class="btn btn-success">Add</button>
    </form>

